#about {
  position: relative;
  z-index: 1;

  #champagne {
    background-color: #fff;
    height: 100%;
    left: 0;
    max-width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .content {
    @media screen and (min-width: 960px) {
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .copy {
      clear: both;
      flex-direction: column;
      height: 60vh;
      margin: -10px 0 0 0;
      padding: 0 10px 0 55px;
      position: relative;
      z-index: 3;
      @media screen and (min-width: 475px) {
        align-self: flex-end;
        height: 50vw;
        max-height: 660px;
        padding: 60px;
        width: 50vw;
        max-width: 660px;
      }

      h3 {
        max-width: 500px;
      }
      p {
        max-width: 500px;
      }
    }
    h2 {
      height: 200px;
      text-align: center;
      width: 200px;
      z-index: 3;
      @media screen and (min-width: 960px) {
        margin: -110px 10% 0 0;
      }
    }
  }
  .play {
    justify-content: flex-end;
    margin-top: 20px;
    padding-right: 20px;
    width: 100%;

    img {
      height: 20px;
      width: 20px;
      @media screen and (min-width: 960px) {
        height: 40px;
        width: 40px;

      }

      &:first-of-type {
        margin-right: 0.5rem;
      }
    }

    .notice {
        font-size: 0.7rem;
        font-style: italic;
        position: absolute;
        right: 14px;
        bottom: -1.25rem;
    }
  }

  & > img {
    margin: -1px 0 10% 0;
    z-index: 3;

  }
}
