#services {
  margin-bottom: -13%;
  position: relative;

  h2 {
    padding: 30px 10px 10px 0px;
    margin: -5px 0 16px 0;
  }

  p {
    line-height: 2;
  }

  .background {
    background-attachment: fixed;
    margin-top: -1px;
    padding: 20% 3% 30% 3%;
    @media screen and (min-width: 960px) {
      padding: 3% 0 18vw 0;
    }

    .wrapper {
      background: url("../images/boxAngledBottomWhite.svg"); /* Use an SVG (vs some CSS hack) so the angle matches the graphic below */
      background-size: cover;
      background-position: center bottom;
      min-height: 300px;
      margin: 5% auto;
      max-width: 800px;
      padding: 3% 3% 40% 3%;
      @media screen and (min-width: 1100px) {
        padding: 3% 3% 10% 3%;
      }
    }
  }
  .play {
    justify-content: flex-end;
    top: 15px;
    right: 15px;
  }
  .service {
    padding: 0 3%;
  }

}
