$color-green: #afe9dd;
$color-one: #afe9dd;
$color-two: #ffe680;
$color-three: #ffb7b2;
$color-four: #ffdac1;
$color-five: #8494d4;

$font-brand: "Playfair Display", serif;
$font-primary: "Lato", sans-serif;
